<html>
<title>Create New Note</title>
<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
<script>

</script>
<body onload="">
<div id="main">
<form METHOD=POST ACTION="/api/notes/createurlparser" class="pure-form pure-form-aligned">
  <h1>Create Note</h1>
  <div class="pure-control-group">
  <label for="title">Title</label>
  <input name="title" id="title" size="50" placeholder="- title -" />
  </div>
  <div class="pure-control-group">
  <label for="details">Details</label>
  <textarea name="details" id="details" cols="40" rows="10" placeholder="- details -"></textarea>
  </div>
  <div class="pure-controls">
  <input type="submit" value="Save Note" text="Save Note" class="pure-button pure-button-primary" />
  </div>
</form>
</div>
</body>
</html>
