<html>
<head>
<title>Default node js app.js application page</title>

<link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w" crossorigin="anonymous">
</head>

<body>
<h1>Welcome to a simple notejs application</h1>

This is a  simple nodejs application that allows you to create notes
and store persistently in a mongodb database (hosted on mlabs).
<p/>
<div><a href='/view/notes'>View</a> list of notes</div>
<div><a href='/view/createnote'>Create</a> a new note</div>
</body>
</html>
